<form method="POST" action="/tcKimlikIleAra">
    <input type="text" id="ad" name="ad" placehodler="isim giriniz" required>
    <input type="text" id="soyad" name="soyad" placeholder="soyisim giriniz" required>
    <input type="text" id="tc" name="tc" placeholder="tc giriniz">
    <input type="number" id="dogumyili" name="dogumyili" placeholder="doğum yılını giriniz">
    <input type="submit">
</form>